<div class="navigation">
   <div id='navigateBack'>
      <a id='navigateBackLink' href="/thankyou">Go back</a> to the previous page.
   </div> <br>
   <a href="/logout"><button id='logOut' class="navigation-button" type="submit">Logout</button></a>
</div>
