<!doctype html>
<html>
   <head>
      <title>Edit your information!</title>
      <link rel="stylesheet" href="/css/edit.css"/>
   </head>
   <body>
      {{{body}}}

   </body>
   <script src="/js/canvas.js"></script>
</html>
