<!doctype html>
<html>
   <head>
      <title>Login Page!</title>
      <link rel="stylesheet" href="/css/login.css"/>
   </head>
   <body>
   <div class="container">
   	<section id="content">
   		<form method="POST">
   			<h1>Login Form</h1>
   			<div>
   				<input id='email' name='email' type="text" placeholder="Email"/>
   			</div>
   			<div>
   				<input id='password' name='password' type="password" placeholder="Password"/>
   			</div>
   			<div>
   				<input type="submit" value="Sign In"/>
   				<a href="#">Forgot your password?</a>
   			</div>
   		</form>
   	</section>
   </div>
      {{{body}}}
   </body>
</html>
