<!doctype html>
<html>
   <head>
      <title>Our petition signers!</title>
      <link rel="stylesheet" href="/css/signers.css"/>
   </head>
   <body>
      <div id='signers_info'>
         <h1>
            A list of all who signed this petition!
         </h1>
         <h2>
            You can click on the <span>city</span> name to see all who signed from that city.
         </h2>
         <h2>
            You can also click on any signer's <span>name</span> who provided a <span>website</span> so you can check their website.
         </h2>
      </div>
      {{{body}}}
   </body>
</html>
