   <h1>Thank you for signing the petition!</h1>

   <h2>Here you can see your signature:</h2>
   <img id="img_sig" src="{{signatureimage}}"></img>
   <div id='navigation'> See all who <a href="/signers">signed</a> our petition.
      <span> <a href="/editprofile">Edit</a> your signature/profile.</span>
      <span><a href="/logout">Logout</a>.</span>
   </div>
